*{
    background-color: black;
    color:aquamarine

}

header{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.imagem-container{
  
    display: flex;
justify-content:center;


}

.color{
    border: 10px solid green;
    border-radius: 100%;
}

.color1{
    border: 10px solid yellow;
    border-radius: 100%;
}

footer{
    bottom: auto;
    text-decoration: none;
    text-align: center;
    padding-top: 340px;

}